<script>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event) {
        const confirmation = confirm("Os dados do aluno serão perdidos. \nDeseja realmente deletar?")
        if(!confirmation) {
            event.preventDefault()
        }
    })
</script>